* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.4;
  font-family: 'Montserrat', sans-serif;
  color: #798696;
  font-size: 15px;
}

.container {
  width: 1120px;
  margin: 0 auto;
}

.row {
  margin-left: -20px;
  margin-right: -20px;
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

[class^="col-"] {
  float: left;
  padding: 0 20px;
}

.col-1 { width: calc(100% / 12) }
.col-2 { width: calc((100% / 12) * 2) }
.col-3 { width: calc((100% / 12) * 3) }
.col-4 { width: calc((100% / 12) * 4) }
.col-5 { width: calc((100% / 12) * 5) }
.col-6 { width: calc((100% / 12) * 6) }
.col-7 { width: calc((100% / 12) * 7) }
.col-8 { width: calc((100% / 12) * 8) }
.col-9 { width: calc((100% / 12) * 9) }
.col-10 { width: calc((100% / 12) * 10) }
.col-11 { width: calc((100% / 12) * 11) }
.col-12 { width: calc((100% / 12) * 12) }

[class^="col-offset-"] {
  min-height: 1px;
}

.col-offset-1 { margin-left: calc(100% / 12) }
.col-offset-2 { margin-left: calc((100% / 12) * 2) }
.col-offset-3 { margin-left: calc((100% / 12) * 3) }
.col-offset-4 { margin-left: calc((100% / 12) * 4) }
.col-offset-5 { margin-left: calc((100% / 12) * 5) }
.col-offset-6 { margin-left: calc((100% / 12) * 6) }
.col-offset-7 { margin-left: calc((100% / 12) * 7) }
.col-offset-8 { margin-left: calc((100% / 12) * 8) }
.col-offset-9 { margin-left: calc((100% / 12) * 9) }
.col-offset-10 { margin-left: calc((100% / 12) * 10) }
.col-offset-11 { margin-left: calc((100% / 12) * 11) }
.col-offset-12 { margin-left: calc((100% / 12) * 12) }

.text-center { text-align: center; }

.btn {
  border-radius: 40px;
  background-color: #FF6701;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  padding: 10px 30px;
  display: inline-block;
  text-decoration: none;
  border: 2px solid transparent;
  transition: 0.2s all;
}

.btn:hover {
  color: #FF6701;
  background-color: white;
  border-color: currentColor;
}

.fluid-img {
  max-width: 100%;
}

.header {
  position: absolute;
  right: 0;
  left: 0;
  border-bottom: 1px solid rgba(235, 235, 235, 0.25);
  z-index: 1;
  padding: 10px 0;
}

.header__logo {
  float: left;
}

.header__nav {
  float: right;
  margin: 0;
  list-style: none;
}

.header__nav > li {
  float: left;
  padding: 0 10px;
  margin: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
}

.header__nav > li > a {
  color: white;
  text-decoration: none;
  line-height: 34px;
  transition: border 0.3s;
  border-bottom: 0 solid #FF6700;
}

.header__nav > li > a:hover {
  border-bottom-width: 2px;
}

.cover {
  height: 100vh;
  background-image: url('../img/home-background.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}

.cover:after {
  content: '';
  background: rgb(55,64,80);
  background: linear-gradient(to bottom, rgb(55, 64, 80) 0%, rgb(121,134,150) 100%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  z-index: 0;
}

.cover__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  right: 0;
  left: 0;
}

.cover__title,
.cover__text {
  margin: 0;
  margin-bottom: 15px;
}
.cover__title {
  font-size: 38px;
}

.cover__text {
  font-size: 21px;
}

.section {
  padding: 80px 0;
}

.section__title {
  font-size: 30px;
  margin: 0;
  margin-bottom: 15px;
  color: #37404F;
}

.section__subtitle {
  font-size: 21px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 40px;
}

.feature {
  margin-bottom: 40px;
}

.feature:last-child {
  margin-bottom: 0;
}

.feature__title {
  font-size: 18px;
  color: #37404F;
  margin: 0;
  margin-bottom: 10px;
}

.feature__text {
  margin: 0;
}

.feature__icon {
  float: left;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #EBEBEB;
  line-height: 80px;
  text-align: center;
  margin-right: 20px;
  color: #FF6701;
  font-size: 30px;
}

.post {
  margin-bottom: 30px;
}

.post__img {
  display: block;
  margin-bottom: 20px;
  position: relative;
  background-color: #FF6700;
  border-radius: 4px;
}

.post__img:hover > img {
  opacity: 0.5;
}

.post__img:hover > .post__img__icon {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%);
}

.post__img > img {
  display: block;
  max-width: 100%;
  border-radius: 4px;
  transition: opacity 0.3s;
}

.post__img__icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  opacity: 0;
  transition: all 0.3s;
}

.post__title {
  display: block;
  color: #374050;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-decoration: none;
  transition: opacity 0.3s;
  height: 42px;
}

.post__title:hover {
  opacity: 0.7;
}

.post__footer {
  margin-top: 20px;
  padding: 10px 0;
  border-top: 1px solid #EBEBEB;
}

.post__footer:before,
.post__footer:after {
  content: "";
  display: table;
}

.post__footer:after {
  clear: both;
}

.post__category {
  float: left;
}

.post__type {
  float: right;
  color: green;
}

.post__type.is-premium {
  color: #FF6700;
}

.section--photo,
.section--photo .section__title {
  color: white;
}

.section--photo {
  position: relative;
}

.section--photo:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgb(55,64,80);
  background: linear-gradient(to bottom, rgb(55, 64, 80) 0%, rgb(121,134,150) 100%);
  opacity: 0.7;
}

.section--photo .section__content {
  position: relative;
  z-index: 2;
}

.separator {
  border: 0;
  border-bottom: 1px solid #EBEBEB;
  margin: 80px 0;
}

.video-thumb,
.video-thumb__img {
  border-radius: 4px;
  display: block;
}

.video-thumb {
  position: relative;
  background-color: #FF6700;
}

.video-thumb:hover > .video-thumb__img {
  opacity: 0.4;
}

.video-thumb__img {
  border-radius: 4px;
  opacity: 0.3;
  max-width: 100%;
  transition: 0.3s;
}

.video-thumb__icon {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: 80px;
  height: 80px;
  color: #374050;
  background-color: white;
  text-align: center;
  line-height: 80px;
  border-radius: 50%;
  font-size: 24px;
  animation: play-animation 2s infinite;
}

.video-thumb:hover > .video-thumb__icon {
  color: #FF6700;
}

@keyframes play-animation {
  from { box-shadow : 0px 0px 0px 0px #FFF; }
  to { box-shadow : 0px 0px 0px 10px transparent; }
}
